---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import FaqSection from "@components/faq-section.astro";
---

<Layout title="Resources">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Resources</Fragment>
      <Fragment slot="desc">Explore our helpful resources.</Fragment>
    </Sectionhead>

    <FaqSection title="FAQ">
      <ul>
        <li>
          <b>What do you do?</b> We provide technology and training to
          nonprofits and individuals.
        </li>
        <li>
          <b>How can I get involved?</b> Contact us to volunteer or donate.
        </li>
      </ul>
    </FaqSection>

    <FaqSection title="Donate Devices" link="/contact" linktext="Contact us to donate">
      Your donations help us provide technology and training to those in need.
    </FaqSection>

    <FaqSection title="Internships" link="/contact" linktext="Contact us to apply">
      We offer internships for students interested in technology and nonprofits.
    </FaqSection>

    <FaqSection title="Documentation" link="/documentation" linktext="Documentation">
      Here you will find documentation on how to use our services and products.
    </FaqSection>
  </Container>
</Layout>