---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import PricingCard from "@components/pricing.astro";
import { Picture } from "astro:assets";
import heroImage from "assets/rental_logo.png";

const pricing = [
  {
    name: "Chromebook Devices",
    //price: "$275.00 - $375.00",
    popular: false,
    features: [
      "i5 and i3 Processors in Stock",
      "8G-16G Memory",
      "Updated and Secure",
      "Long Term Support Included",
      "$275.00 - $375.00"
    ],
    button: {
      text: "PLACEHOLDER",
      link: "/",
    },
  },
  {
    name: "Rental",
   // price: " ",
    popular: true,
    features: [
      "1 to 10 Devices   -  $25/day donation",
      "10 to 25 Devices  -  $23/day donation",
      "25 to 50 Devices  -  $20/day donation",
      "50+ Devices       -  Contact Us for Pricing",
    ],
    button: {
      text: "PLACEHOLDER",
      link: "/resources",
    },
  },
  {
    name: "Community Coaching Events",
  //  price: "Custom",
    popular: false,
    features: [
      "Technologies To Boost Your Business",
      "Held at the Venue of Your Choice",
      "20+ Years Experience",
    ],
    button: {
      text: "Contact us",
      link: "/contact",
    },
  },
];
---

<Layout title="Services">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Services</Fragment>
      <Fragment slot="desc">Explore our services.</Fragment>
    </Sectionhead>

    <section id="rentals">
      <h2 class="font-bold text-2xl text-gray-800">Rentals</h2>
      <div class="flex justify-center">
        <Picture class="logo" src={heroImage} alt="Rental image" />
      </div>
        <p class="mt-4 text-lg leading-relaxed text-slate-500">
          Renting Chromebooks offers a cost-effective and flexible solution for
          nonprofits needing devices for events. We handle maintenance, provide
          up-to-date technology, and eliminate storage concerns.
        </p>
        <p class="mt-4 text-lg leading-relaxed text-slate-500">
          Key advantages include:
        </p>
        <ul class="list-disc pl-5 mt-2 text-lg leading-relaxed text-slate-500">
          <li>
            <b>Cost-Effectiveness:</b> Ideal for short-term needs, avoiding
            large upfront costs.
          </li>
          <li>
            <b>Flexibility:</b> Rent the exact number of devices needed for each
            event.
          </li>
          <li>
            <b>Maintenance & Support:</b> We manage all maintenance and
            troubleshooting.
          </li>
          <li>
            <b>Up-to-Date Technology:</b> Access to the latest Chromebook
            models.
          </li>
          <li>
            <b>No Storage Concerns:</b> Eliminate the need to store and secure
            devices.
          </li>
        </ul>
        <p class="mt-4 text-lg leading-relaxed text-slate-500">
          Contact us to discuss your specific needs and receive a customized
          rental plan.
        </p>
        <br>
      </div>
    </section>

    <section id="pricing">
      <h2 class="font-bold text-2xl text-gray-800">Pricing</h2>
      <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-screen-lg mt-12">
        {pricing.map((item) => <PricingCard plan={item} />)}
      </div>
    </section>
  </Container>
</Layout>
