<div class="inline-selects">
    <label for="yes-no">Add Users?</label>
    <select id="yes-no" name="yesNo" required>
        <option value="" disabled selected>Select an option</option>
        <option value="yes">Yes</option>
        <option value="no">No</option>
    </select>

    <label for="yes-no">Add to network on site?</label>
    <select id="yes-no" name="yesNo" required>
        <option value="" disabled selected>Select an option</option>
        <option value="yes">Yes</option>
        <option value="no">No</option>
    </select>
</div>

<label for="dropdown">Device Type:</label>
<select id="dropdown" name="dropdown" required>
    <option value="" disabled selected>Select an option</option>
    <option value="option1">Laptops</option>
    <option value="option2">Chrome Base</option>
    <option value="option3">Tablets</option>
</select>