<div class="component-header">
    <h2>Event Details</h2>
</div>

<label for="eventAddress">Event Address</label>
<fieldset>
    <label for="eventAddress">Street</label>
    <input type="text" id="street" name="street" required >
    <label for="eventAddress">City</label>
    <input type="text" id="city" name="city" required >
    <label for="eventAddress">State</label>
    <input type="text" id="state" name="state" required >
    <label for="eventAddress">Zip</label>
    <input type="text" id="zip" name="zip" required >
</fieldset>

<fieldset>
    <legend>Deliver/Pick-Up</legend>
    <div class="inline-radios">
        <label>
            <input type="radio" name="deliveryOption" value="rent" required >
                Deliver
        </label>
        <label>
            <input type="radio" name="deliveryOption" value="purchase" >
                Pick Up
        </label>
    </div>
</fieldset>