<div class="component-header">
    <h2>Event Details</h2>
</div>

<label>Event Address</label>
<fieldset>
    <label for="street">Street</label>
    <input type="text" id="street" name="street" required >
    <label for="city">City</label>
    <input type="text" id="city" name="city" required >
    <label for="state">State</label>
    <input type="text" id="state" name="state" required >
    <label for="zip">Zip</label>
    <input type="text" id="zip" name="zip" required >
</fieldset>

<fieldset>
    <legend>Deliver/Pick-Up</legend>
    <div class="inline-radios">
        <label>
            <input type="radio" name="deliveryOption" value="rent" required >
                Deliver
        </label>
        <label>
            <input type="radio" name="deliveryOption" value="purchase" checked >
                Pick Up
        </label>
    </div>
    <label for="numdevices">Number of Devices requested</label>
    <input type="text" id="numdevices" name="numdevices" required >
</fieldset>