---
import "../styles/header.css"; // Import your CSS file for styles
---

<main class="w-full">
  <section class="hero-section w-full flex flex-col justify-center items-center text-center">
    <div class="white-overlay">
      <div class="content-container">
        <p>Digital literacy that comes to you.</p>
        <h2>Improving digital literacy.</h2>
        <p>We provide education and resources for protecting yourself online through training.</p>
        <div class="button-container">
          <a href="/mission" class="button-link">
            <button>Learn More</button>
          </a>
          <a href="/forms" class="button-link">
            <button>Get Started</button>
          </a>
        </div>
      </div>
    </div>
  </section>
</main>