<!-- name, organization, org address, event address, phone, email -->
<label for="name">Contact Name:</label>
<input type="text" id="name" name="name" required >

<!-- TODO: Look at open street address API to do address validation -->
<label for="organization">Organization Name:</label>
<input type="text" id="organization" name="organization" required >

<!-- TODO: Look at open street address API to do address validation -->
<label for="orgAddress">Organization Address:</label>
<input type="text" id="orgAddress" name="orgAddress" required >

<label for="phone">Phone:</label>
<input type="tel" id="phone" name="phone" required >

<label for="email">Email:</label>
<input type="email" id="email" name="email" required >